body {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

img, iframe {
    max-width:100%;
}

a {
    text-decoration: none;
}

.logo {
    text-align: center;
    display: block;
}

.social {
    margin-top: 10px;
    margin-left: 5px;
}

.social ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.social ul li {
    display: inline;
    margin-left: 3px;
}

.social ul li a {
    text-decoration: none;
}

.social ul li a img {
    width: 20px;
}

.social ul li:nth-child(1) a img {
    width: 18px;
}

.social ul li:nth-child(2) a img {
    width: 15px;
}

.summary {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size:0.9em;
}

a.section {
    display: block;
    float: left;
    width: 100%;
}

.section {
    margin-top: 8px;
    height: 300px;
    color: white;
    font-weight: normal;
    font-size: 1em;
}

.section.mobile {
    background-color: #92CBC0;
}

.section.illustration {
    background-color: #e9ce85;
}

.section.infographics {
    background-color: black;
}

.section.video {
    background-color: #5d7fab;
}

.border {
    width: 25px;
    border-bottom: 2px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
}

.blackborder {
   border-bottom: 2px solid black; 
}

.section .title {
    vertical-align: top;
    margin-top: 120px;
    width: 48%;
    display: inline-block;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-size: 1.1em;
}

.section.fullwidth {
    height: auto;
    float: left;
}

.section.fullwidth .title {
    width: 100%;
    margin-top: 20px;
}

.section .image {
    width: 48%;
    display: inline-block;
    text-align: right;
}

.scrollup, .seemore {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.scrollup a, .seemore a {
    text-decoration: none;
    font-variant: small-caps;
}

.copyright {
    margin-top: 10px;
    font-size: 0.7em;
    float: left;
}

.other_sections {
    display: none;
}


.project {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.project .description {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 20px;
    text-align: center;
    font-size:0.9em;
    float: left;
}

.project .description .title {
    font-variant: small-caps;
}

.project .description .text a, .project .description .text a:visited {
    color: white;
}

.project .image {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
}

.project.origami .image img {
    max-width: 49%;
}

.project .image.right {
    float: right;
}

.project .text {
/*    margin-left: 80px;
    margin-right: 80px;
*/    

    margin-top: 200px;
    max-width: 450px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.back {
    position: absolute;
    top: 30px;
    left: 10px;
}

/*a:hover {
    color: #282828;
}*/

.seemore a, .seemore a:visited {
    color: white;
}

.scrollup a, .scrollup a:visited {
    color: black;
}



.videoimage{
    margin-top: 98px;
    margin-right: 44px;
}

.download {
    margin-top: 20px;
    display: inline-block;
    font-variant: small-caps;
}

a.underline {
    text-decoration: underline;
}

.seemore {
    padding-top: 40px;
    padding-bottom: 40px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

#other-sections {
    display: none;
}

.project.fireman {
    padding-top: 20px;
}

.project.fireman .text, .project.origamivideo .text, .project.swans .text {
    margin-top: 100px;
}

@media (max-width: 701px) {
    .section .image {
        display: none
    }

    .section .title {
        width: 100%;
    }

    .summary {
        width: 70%;
    }

    .project {
        text-align: center;
    }

    .project .image {
        width: 100%;
        display: inline-block;
    }

    .project .description {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .project .image {
        float: none;
    }

    .project .description .text {
/*        margin-left: 10px;
        margin-right: 10px;*/
    }

    .project .text {
        margin-top: 0px;
        margin-bottom: 60px;
    }

}
